

.header-toolbar{
    display: flex;
    background-color: #f7fafc;
    box-shadow: inset 0 -1px #e3e8ee;
    height: 90px;
}

.titleInput{
    font-weight: 500;
    font-size: 14px;
    color: #51545c;
}

.titleInputBig{
    font-weight: 500;
    font-size: 24px;
    color: #51545c;
}

.titleName{
    font-weight: bolder; 
    font-size: 30px; 
    color: #3c4257;
    line-height: 30px;
}

.hijo{
    display: flex;
    align-items: center;

    background-clip: border-box;
}

.error{
    color: #cd3d64;
}

.res{
    color: #3c4257;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}

.adeudo{
    font-weight: bold; 
    font-size: 20px; 
    color: rgb(13, 127, 221); 
    margin-left: 20px;
}

.status{
    font-size: 18px;
    margin-left:20px; 
    font-weight:bold; 
    color: #1ea672
}

.card-shadow{
    box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.logo{
    width: 150px;
}

a {
    cursor: pointer;
}

@media (max-width: 320px){
    .card-shadow{
        background-color: blue;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 40%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
        background-color: blue;
    }

    .btnValidar button {
        width: 80%;
    }

    .btnLabel{
        display: none;
    }

    .res{
        margin-left: 5px;
    }
}

@media (min-width: 321px) and (max-width: 499px){
    .card-shadow{
        background-color: crimson;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 40%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
        background-color: crimson;
    }

    .btnValidar button {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 768px){
    .card-shadow{
        background-color: yellow;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 40%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
        background-color: yellow;
    }

    .btnValidar button {
        width: 70%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .card-shadow{
        background-color: rgb(190, 155, 36);
        width: 63%;
    }

    .cajaFormulario{
        width: 80%;
    }

    .inputContrato{
        width: 40%;
    }

    .btnValidar {

        width: 20%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
        background-color: rgb(190, 155, 36);
    }

    .btnValidar button {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1269px){
    .card-shadow{
        background-color: rgb(126, 122, 111);
        width: 63%;
    }

    .cajaFormulario{
        width: 80%;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 20%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
        background-color: rgb(126, 122, 111);
    }

    .btnValidar button {
        width: 100%;
    }
}

@media (min-width: 1270px) and (max-width: 1800px){
    .card-shadow{
        width: 63%;
        background-color: rgb(235, 132, 63);
    }

    .cajaFormulario{
        width: 80%;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 20%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
        background-color: rgb(235, 132, 63);
    }

    .btnValidar button {
        width: 100%;
    }

    .res{
        color: #3c4257;
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
    }

    .status{
        font-size: 24px;
        margin-left:20px; 
        font-weight:bold; color: #1ea672
    }

    .adeudo{
        font-weight: bold; 
        font-size: 26px; 
        color: rgb(13, 127, 221); 
        margin-left: 20px;
    }

    .titleName{
        font-weight: bolder; 
        font-size: 30px; 
        color: #3c4257;
        line-height: 30px;
    }
}