

.header-toolbar{
    display: flex;
    background-color: #f7fafc;
    box-shadow: inset 0 -1px #e3e8ee;
    height: 90px;
}

.titleInput{
    font-weight: 500;
    font-size: 14px;
    color: #51545c;
}

.titleInputBig{
    font-weight: 500;
    font-size: 24px;
    color: #51545c;
}

.titleName{
    font-weight: bolder; 
    font-size: 30px; 
    color: #3c4257;
    line-height: 30px;
}

.hijo{
    display: flex;
    align-items: center;

    background-clip: border-box;
}

.error{
    color: #cd3d64;
}

.res{
    color: #3c4257;
    font-size: 16px;
    font-weight: 700;
    margin-left: 20px;
}

.adeudo{
    font-weight: bold; 
    font-size: 20px; 
    color: rgb(13, 127, 221); 
    margin-left: 20px;
}

.status{
    font-size: 18px;
    margin-left:20px; 
    font-weight:bold; 
    color: #1ea672
}

.card-shadow{
    box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.logo{
    width: 150px;
}

::placeholder{
    font-size:  0.9em;
}

a {
    cursor: pointer;
}

@media (max-width: 320px){

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 40%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
    }

    .btnValidar button {
        width: 80%;
    }

    .btnLabel{
        display: none;
    }

    .res{
        margin-left: 5px;
    }
}

@media (min-width: 321px) and (max-width: 499px){

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 40%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
    }

    .btnValidar button {
        width: 100%;
    }
}

@media (min-width: 500px) and (max-width: 768px){


    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 40%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
    }

    .btnValidar button {
        width: 70%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

    .cajaFormulario{
        width: 80%;
    }

    .inputContrato{
        width: 40%;
    }

    .btnValidar {

        width: 20%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
    }

    .btnValidar button {
        width: 100%;
    }
}

@media (min-width: 1025px) and (max-width: 1269px){
    .card-shadow{
        width: 63%;
    }

    .cajaFormulario{
        width: 80%;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 20%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
    }

    .btnValidar button {
        width: 100%;
    }
}

@media (min-width: 1270px) and (max-width: 1800px){
    .card-shadow{
        width: 63%;
    }

    .cajaFormulario{
        width: 80%;
    }

    .inputContrato{
        width: 60%;
    }

    .btnValidar {

        width: 20%;
        display: flex; 
        justify-content: center;
        font-weight: 600;
    }

    .btnValidar button {
        width: 100%;
    }

    .res{
        color: #3c4257;
        font-size: 20px;
        font-weight: 700;
        margin-left: 20px;
    }

    .status{
        font-size: 24px;
        margin-left:20px; 
        font-weight:bold; color: #1ea672
    }

    .adeudo{
        font-weight: bold; 
        font-size: 26px; 
        color: rgb(13, 127, 221); 
        margin-left: 20px;
    }

    .titleName{
        font-weight: bolder; 
        font-size: 30px; 
        color: #3c4257;
        line-height: 30px;
    }
}

.spinner{
    position: absolute;
    background-color: rgb(114, 114, 114);
    width: 100%;
    height: 100%;
    z-index: 10;

    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)"; /* IE 8 */ filter: alpha(opacity=50); /* IE 5-7 */ -moz-opacity: 0.5; /* Netscape */ -khtml-opacity: 0.5; /* Safari 1.x */ opacity: 0.5;

}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(139, 104, 172);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
}


.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid rgb(255, 255, 255);
    border-color: rgb(255, 255, 255) transparent rgb(255, 255, 255) transparent;
    animation: lds-hourglass 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }