<div class="container-fluid" style="margin-top: 10px; z-index: 1; position: absolute;">

    <!--<div class="mt-5">
        <span class="titleInputBig">Bienvenido(a): </span>
        <span class="titleName">{{user.nombre}}</span>
    </div>-->


    <div class="pt-4 pb-3">
        <div class="form-group mb-2">
            <span style="font-size: 1em; font-weight: 600; color: #cd3d64;">*</span>

            <span style="font-size: 1em; "> Favor de llenar el campo para la consulta</span>
        </div>

        <div class="row">

            <div class="col">
                <div class="row cajaFormulario">


                    <div class="inputContrato">
                        <input class="form-control" placeholder="Número de contrato" id=contratoId type="number"
                            min="0">
                    </div>

                    <div class="btnValidar">
                        <button type="button" id="btnContrato" (click)="getContrato()" disabled="true"
                            class="btn btn-primary" style="font-weight: 600;">

                            <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>

                            <span class="btnLabel"><i *ngIf="isLoadingReverse$ | async"
                                    class="fas fa-search"></i>&nbsp;&nbsp;Buscar</span>

                        </button>
                    </div>

                </div>
            </div>

        </div>


    </div>

    <div class="card-shadow pt-4 pb-3" *ngIf=(contrato?.contrato)>

        <div class="row">

            <div class="col" style="margin-left: 20px; ">
                <div class="form-group">
                    <!--Estatus: <span style="font-weight: bold; margin-left: 20px;">{{contrato?.estatus}}</span>-->

                    <div *ngIf="contrato.estatus == 'Activo'; else elseBlock">

                        <span class="titleInput">Estatus:</span>

                        <span class="status"><i class="fas fa-check-circle"></i>&nbsp;{{contrato?.estatus}}</span>
                    </div>

                    <ng-template #elseBlock>
                        Estatus: <span class="status" style="margin-left:20px; font-weight:bold; color: #cd3d64;"><i
                                class="fas fa-times-circle"></i>&nbsp;{{contrato?.estatus}}</span>
                    </ng-template>

                </div>

                <div class="form-group">
                    <span class="titleInput">Contrato:</span>
                    <span class="res">{{contrato?.contrato}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Titular:</span>
                    <span class="res">{{contrato?.nombre}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Domicilio:</span>
                    <span class="res">{{contrato?.direccion}}
                        {{contrato.colonia}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Tarifa:</span>
                    <span class="res">{{contrato?.tarifa}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Mes facturado:</span>
                    <span class="res">Noviembre 2021</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Fecha de vencimiento:</span>
                    <span class="res">15/12/2021</span>
                </div>

                <!--<div class="form-group">
                    <span class="titleInput">Fecha Vencimiento:</span>
                    <span *ngIf="!vencido; else noVencido" class="res">
                        {{fechaVencimiento}}
                    </span>
                    <ng-template #noVencido>
                        <span class="res" style="color: #cd3d64;">
                            {{fechaVencimiento}}
                        </span>
                    </ng-template>
                </div>-->

                <div class="form-group">
                    <span class="titleInput">Adeudo Total:</span>
                    <span class="adeudo">${{contrato?.adeuda
                        | number:'1.2-5'}}</span>
                </div>

                <div *ngIf="contrato.estatus== 'Activo' " class="form-group">
                    <span class="titleInput">Recibo Dígital: </span>

                    <span class="adeudo"><a role="button" (click)="imprimeRecibo()">Descargar <i
                                class="fas fa-file-invoice"></i></a></span>


                    <br><br>
                </div>


            </div>
            <div style="display: flex; justify-content: center; align-items: center;">
                <!--<button class="btn btn-success">Asignar</button>-->

                <div *ngIf="contrato.estatus == 'Activo' ; else elseBlock33">


                    <div *ngIf="contrato.adeuda <= 0 ; else conAdeudo">&nbsp;</div>
                    <ng-template #conAdeudo>

                        <div class="hijo">


                            <!--<button id="btnGenPago" class="btn btn-success" style="font-weight: 600;"
                                (click)="tocheckout(contrato.adeuda, contrato.contrato, user.nombre, user.email)">

                                <span *ngIf="isLoadingPago$ | async" class="spinner-border spinner-border-sm" role="status"
                                aria-hidden="true"></span>

                                Generar Pago
                            
                            </button>-->


                            <form #form action="https://www.adquiramexico.com.mx:443/mExpress/pago/avanzado"
                                method="post">
                                <input type="hidden" name="importe" value="{{monto}}" />
                                <input type="hidden" name="referencia" value="{{referencia}}" />
                                <input type="hidden" name="urlretorno"
                                    value="https://restserver-smapac.herokuapp.com/api/orders/respuesta.html" />
                                <input type="hidden" name="idexpress" value="{{idexpress}}" />
                                <input type="hidden" name="financiamiento" value="0" />
                                <input type="hidden" name="plazos" value="" />
                                <input type="hidden" name="mediospago" value="110000" />
                                <input type="hidden" name="x" value="45" />
                                <input type="hidden" name="y" value="25" />
                                <input type="hidden" name="signature" value="{{signature}}" />

                                <button id="btnGenPago" style="font-weight: 600;" class="btn btn-success"
                                    (click)="form.submit()">

                                    <span class="btnLabel">&nbsp;Generar Pago</span>

                                </button>

                            </form>


                        </div>
                    </ng-template>



                </div>
                <ng-template #elseBlock33>
                    <div class="m-3">
                        No es posible realizar el pago ni descargar el recibo por este medio, debe presentarse en las
                        instalaciones del
                        <span style="color: #3c4257; font-weight: bolder;">SMAPAC</span> para el pago de
                        <span class="error" style="font-weight:bolder; ">Reconexión</span> correspondiente.
                    </div>
                </ng-template>


            </div>
        </div>

    </div>

    <div class="pt-5 error" *ngIf=(infoMessage)>

        <div style="font-size:18px; font-weight: bold;" class="form-group">
            <span>
                <i class="fas fa-exclamation-triangle"></i>&nbsp;{{infoMessage}}
            </span>
        </div>


    </div>

</div>

<!--<div *ngIf="isLoadingRecibo$ | async" class="spinner"
    style="display: flex; justify-content: center; align-items: center;">
    
    <div class="lds-hourglass"></div>

</div>-->

<div *ngIf="isLoadingRecibo$ | async" class="layer">
    
    <div class="wrap">
        <div class="drop-outer">
          <svg class="drop" viewBox="0 0 40 40" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="20" cy="20" r="20"/>
          </svg>
        </div>
        <div class="ripple ripple-1">
            <svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="24"/>
            </svg>
        </div>
        <div class="ripple ripple-2">
            <svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="24"/>
            </svg>
        </div>
        <div class="ripple ripple-3">
            <svg class="ripple-svg" viewBox="0 0 60 60" version="1.1"
          xmlns="http://www.w3.org/2000/svg">
          <circle cx="30" cy="30" r="24"/>
            </svg>
        </div>
      </div>
</div>
  
