<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="#">SMAPAC</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
        </ul>
        <ul class="navbar-nav">

            <li class="nav-item">
                <a class="nav-link" (click)="logOut()" [routerLink]="['/']"><i class="fas fa-user"></i> Cerrar sesión</a>
              </li>

            <li class="nav-item" style="width: 10px;">
            </li>

        </ul>

    </div>
</nav>



<!--
    <div class="header-toolbar">

    <div class="logo" style="display: flex; justify-content: left ; align-items: center;">
        <div>
            <img src="../../../assets/img/smapac-logo-300x190.png" style="height: 70px;" >
        </div>
        
    </div>

</div>
-->


<div class="container-fluid" style="margin-top: 10px;">

    <div class="mt-5">
        <span class="titleInputBig">Bienvenido: </span>
        <span style="font-weight: bolder; font-size: 30px; color: #3c4257;">{{user.nombre}}</span>
    </div>


    <div class="pt-4 pb-3">
        <div class="form-group mb-2">
            <span class="titleInput">Ingrese el numero de contrato: </span>
        </div>

        <div class="row">

            <div class="col">
                <div class="row">
                    <div class="col-9">
                        <input class="form-control" id=contratoId type="text">
                    </div>
                    <div class="col-3" style="display: flex; justify-content: center;">
                        <button style="font-weight: 600;" id="btnContrato" (click)="getContrato()"
                            class="btn btn-primary"><i class="fas fa-check-circle"></i>&nbsp;&nbsp;Validar</button>
                    </div>
                </div>
            </div>

        </div>





    </div>

    <div class="card-shadow pt-4 pb-3" *ngIf=(contrato?.contrato)>

        <div class="row">
            <div class="col-7" style="margin-left: 20px; ">
                <div class="form-group">
                    <!--Estatus: <span style="font-weight: bold; margin-left: 20px;">{{contrato?.estatus}}</span>-->

                    <div *ngIf="contrato.estatus == 'Activo'; else elseBlock">Estatus: <span
                            style="margin-left:20px; font-weight:bold; color: #1ea672">{{contrato?.estatus}}</span>
                    </div>
                    <ng-template #elseBlock>
                        Estatus: <span class="error"
                            style="margin-left:20px; font-weight:bold; ">{{contrato?.estatus}}</span>
                    </ng-template>
                </div>

                <div class="form-group">
                    <span class="titleInput">Contrato:</span>
                    <span class="res">{{contrato?.contrato}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Titular:</span>
                    <span class="res">{{contrato?.nombre}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Domicilio:</span>
                    <span class="res">{{contrato?.direccion}}
                        {{contrato.colonia}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Tarifa:</span>
                    <span class="res">{{contrato?.tarifa}}</span>
                </div>

                <div class="form-group">
                    <span class="titleInput">Adeudo Total:</span>
                    <span
                        style="font-weight: bold; font-size: 20px; color: rgb(13, 127, 221); margin-left: 20px;">${{contrato?.adeuda
                        | number:'1.2-5'}}</span>
                </div>
            </div>
            <div class="col-4" style="display: flex; justify-content: center; align-items: center;">
                <!--<button class="btn btn-success">Asignar</button>-->

                <div *ngIf="contrato.estatus == 'Activo' ; else elseBlock33">




                    <div *ngIf="contrato.adeuda <= 0 ; else conAdeudo">&nbsp;</div>
                    <ng-template #conAdeudo>
                        <button class="btn btn-success" style="font-weight: 600;"
                            (click)="tocheckout(contrato.adeuda, contrato.contrato, user.nombre)">Generar Pago</button>
                    </ng-template>



                </div>
                <ng-template #elseBlock33>
                    <div>
                        No es posible realizar el pago por este medio, Debe presentarse en las instaciones del
                        <span style="color: rgb(97, 97, 97); font-weight: bolder;">SMAPAC</span> para el pago de
                        <span class="error" style="font-weight:bold; ">Reconexión</span>
                    </div>
                </ng-template>



            </div>
        </div>







    </div>

    <div class="pt-5 error" *ngIf=(infoMessage)>

        <div style="font-size:18px; font-weight: bold;" class="form-group">
            {{infoMessage}}
        </div>


    </div>



</div>