<head>
    <script>
      var app = angular.module('respuesta', []);
      app.controller('myCtrl', function ($scope, $http){
        $http({
            method : 'POST',
            url : 'Main'
            
        }).then(function mySucc(response){

            console.log(response);

            $scope.myData = response.data.map;
            $scope.statuscode = response.status;
        });
      });
    </script>



<!--<table>
    <thead>
        <tr>
            <td>Codigo</td>
            <td>Mensaje</td>
        </tr>
    </thead>
    <tr>
        <td></td>
        <td></td>
    </tr>
</table>-->