<div class="login Card--shadow">
    <div class="hijo">

        <h3 style="text-align: left;">Gracias. Comprueba si has recibido un correo electrónico con las instrucciones
            para restablecer la contraseña.</h3>
        <div class="form-group">

            <div style="font-size: 14px; font-weight: 400;">
                ¿No recibiste el correo electrónico? Mira en tu carpeta de correo no deseado o
                <a href="" [routerLink]="['/forgot-password']" class="titleInput">vuelve a enviarlo.</a>
            </div>

        </div>



        <div class="error" id="errorMessage" style="color: crimson;"></div>


    </div>


</div>