.prueba{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='2800' height='1600' preserveAspectRatio='none' viewBox='0 0 2800 1600'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1791%26quot%3b)' fill='none'%3e%3crect width='2800' height='1600' x='0' y='0' fill='url(%23SvgjsRadialGradient1792)'%3e%3c/rect%3e%3cpath d='M42 1600L1642 0L1939 0L339 1600z' fill='url(%23SvgjsLinearGradient1793)'%3e%3c/path%3e%3cpath d='M934 1600L2534 0L2934.5 0L1334.5 1600z' fill='url(%23SvgjsLinearGradient1793)'%3e%3c/path%3e%3cpath d='M2700 1600L1100 0L213.5 0L1813.5 1600z' fill='url(%23SvgjsLinearGradient1794)'%3e%3c/path%3e%3cpath d='M1841 1600L241 0L-225.5 0L1374.5 1600z' fill='url(%23SvgjsLinearGradient1794)'%3e%3c/path%3e%3cpath d='M1963.912162389413 1600L2800 763.9121623894131L2800 1600z' fill='url(%23SvgjsLinearGradient1793)'%3e%3c/path%3e%3cpath d='M0 1600L836.0878376105869 1600L 0 763.9121623894131z' fill='url(%23SvgjsLinearGradient1794)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1791'%3e%3crect width='2800' height='1600' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cradialGradient cx='0%25' cy='100%25' r='3224.9' gradientUnits='userSpaceOnUse' id='SvgjsRadialGradient1792'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(9%2c 149%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/radialGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1793'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1794'%3e%3cstop stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(15%2c 70%2c 185%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");

}

.login{
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    background-color: white;

    color: #3c4257;
}

.hijo{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hijo h3{
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

.hijo input{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.register{
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

.error{
    margin-top: 10px;
    color: #cd3d64;
    font-size: 14px;
    font-weight: 500;
}


.Card--shadow {
    box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.titleInput{
    font-size: 14px; font-weight: 500
}

.hijo a{
    text-decoration: none;
}
