.login{
    width: 400px;
    height: 420px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
    background-color: white;

    color: #3c4257;
}

.hijo{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hijo h3{
    text-align: center;
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 24px;
}

.hijo input{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 500;
}

.register{
    margin-top: 20px;
    font-size: 13px;
    text-align: center;
}

.error{
    margin-top: 10px;
    color: crimson;
    font-size: 14px;
    font-weight: 500;
}


.Card--shadow {
    box-shadow: 0 15px 35px 0 rgb(60 66 87 / 8%), 0 5px 15px 0 rgb(0 0 0 / 12%);
    border-radius: 10px;
}

.titleInput{
    font-size: 14px; font-weight: 500
}

.hijo a{
    text-decoration: none;
}
