<div class="login Card--shadow" >
    <div class="hijo">
        <form [formGroup]="form" (submit)='onLoginUser()' id="form-authentication">

            <h3>Inicia sesión en tu cuenta</h3>
            <div class="form-group">

                <div>
                    <span class="titleInput">Correo electrónico</span>
                </div>
                <input class="form-control form-control-lg" 
                formControlName="email" type="mail" id="email">
            </div>




            <div class="form-group">

                <div class="row titleInput">

                    <div class="col">
                        <span class="titleInput">Contraseña</span>


                    </div>
                    <div class="col-8" style="text-align: right;">
                        <span style="padding-top: -20;">
                            <a href="#" [routerLink]="['/forgot-password']">¿No recuerdas la contraseña?</a>
                        </span>
                    </div>
                </div>

                <input type="password" class="form-control form-control-lg" formControlName="password"
                    id="password">
            </div>

            <button id="btn-entrar" type="submit" class="btn btn-primary form-control" style="font-weight: 600;">Entrar</button>

            <div class="error" id="errorMessage"></div>

            <div class="register mt-5">

                <div class="form-group titleInput">
                    ¿Aún no tienes cuenta? <a href="#" [routerLink]="['/register']">Registrate</a>
                </div>

            </div>

        </form>
    </div>
</div>